<!doctype html>

<html ng-app="ngSkateApp">
<head>
	<meta charset="utf-8">
	<title>Blank App</title>
	<meta name="description" content="An app to find and locate skateparks and skate spots">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="css/material.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body ng-controller="ListCtrl">

	<div class="app-wrapper" ng-controller="MapCtrl">

		<div ng-controller="VoteCtrl">

		<div class="preload">
		  <div class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- the main list/map of items -->
		<div class="left-column">

			<!-- A directive to handle the map -->
			<ng-map class="map"  zoom="3" center="59.339025, 18.065818">

				<info-window id="detailsWindow" class="detailsWindow" max-width="1400">
							<div class="card medium">

								<div class="card-image">
									<img src="img/viccy.jpg">
									<span class="card-title">{{ currentSkatepark.skateparkName }}</span>
								</div>

								<div class="card-content">
									
									<div class="row">
										<div class="desc col 12">{{ currentSkatepark.skateparkDesc }}</div>
									</div>

								</div>

								<div class="card-action">
									
									<div class="row">

										<div class="added col s9">
											<div class="added-by">Added by: {{ currentSkatepark.addedBy }} <span class="small">({{ currentSkatepark.createdAt | date: 'h:mm a, MMM d' }})</span></div>
										</div>

										<div class="votes col s3" ng-controller="RatingCtrl">
												<div ng-click="incrementRating(currentSkatepark)" ng-hide="currentSkatepark.hasVote" class="votes">{{ currentSkatepark.skateparkRating }} votes ^</div>
										</div>

									</div>

								</div>
							</div>
				</info-window>



				<marker ng-repeat="marker in allData | filter: parks" 
						position="{{marker.skateparkLocation}}"
						title="{{marker.skateparkName}}"
						id="{{marker._id}}"
						on-click="showSkateparkDetails(marker)">
				</marker>

				<marker ng-repeat="marker in fake" 
						position="{{marker.skateparkLocation}}"
						id="showMePlease"
				</marker>

			</ng-map>

		</div> <!-- end left hand side -->

		<div class="right-column">

			<!-- First row -->
			<div class="row">

				<div class="col s12">
					<header class="site-title">
						<h2>SkateLocate
						<img src="./img/skate-icon.png" class="skate-icon" alt="skateboard icon" width="64px"><h2>
					</header>

					<div class="search-for-items" ng-controller="SearchCtrl">
						<div class="input-field">
							<i class="material-icons prefix">search</i>
							<input type="text" ng-model="searchString" id="search-parks"></input>
							<label for="search-parks">Search</label>
						</div>
					</div>

				</div>

			</div>


			<!-- Third Row: Highest ranked items -->
			<div class="row">
				<div class="highest-voted-items col s12">
					<h5>Highest Voted</h5>

					<ul ng-repeat="item in allData | orderBy: '-skateparkRating' | limitTo: 6" class="list-of-highest-rated-items collection mouse-clickable"  ng-controller="RatingCtrl">

						<li class="collection-item avatar" ng-click="showSkateparkDetails(item._id, item)">
							<span class="absolute-label">{{ item.skateparkRating }}</span><i class="material-icons circle"></i>
							<span class="title">{{ item.skateparkName }}</span>
							<upvote-button ng-click="incrementRating(item)" ng-hide="item.hasVote" class="secondary-content" ></upvote-button>
						</li>

					</ul>
				</div>
			</div>

			<!-- most recently added items -->
			<div class="row">
				<div class="most-recent-items col s12">
					<h5>Most Recent Items</h5>
					<div class="list-of-most-recent-items">
						<div ng-repeat="item in rev(allData) | limitTo: 5">

							<div class="item-name" ng-click="showSkateparkDetails(item._id, item)">{{ item.skateparkName }} <span class="small"> {{ item.createdAt | date: 'h:mm a, MMM d' }} by {{ item.addedBy }} </span></div>

						</div>
					</div>
				</div>
			</div>

			<div class="connection-info-triangle"></div>

			<div class="bottom-right">
				<div class="number-connected-users"></div>
				<div class="icon icon-users"></div>
			</div>

		</div> <!-- end right hand side -->

		</div>

	</div>


<!-- JAVASCRIPT -->

<!-- 3rd party libraries -->
	<script src="../libraries/jquery.js"></script>
	<script src="../libraries/angular.js"></script>
	<script src="../libraries/angular-route.js"></script>
	<script src="../libraries/angular-local-storage.js"></script>
	<script src="../libraries/ng-map.js"></script>
	<script src="../libraries/socket.io.js"></script>
	<script src="../libraries/material.js"></script>

<!-- API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALYjGkfn-RVIETHo-KCBz_1zbVW1OH-O0"></script>

<!-- Custom JS  -->

	<script src="js/sockets.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/factories.js"></script>
	<script src="js/filters.js"></script>

</body>
</html>
