@charset "UTF-8";

@font-face {
	font-family: 'coming';
	font-style: normal;
	src: url('../font/coming/coming.eot');
	src: url('../font/coming/coming.eot?#iefix') format('embedded-opentype'),
		local('coming'),
		local('coming'),
		url('../font/coming/coming.woff2') format('woff2'),
		url('../font/coming/coming.woff') format('woff'),
		url('../font/coming/coming.ttf') format('truetype'),
		url('../font/coming/coming.svg#coming') format('svg');
}

@font-face {
	font-family: "skatemap";
	src:url("../font/skatemap/skatemap.eot");
	src:url("../font/skatemap/skatemap.eot?#iefix") format("embedded-opentype"),
		url("../font/skatemap/skatemap.woff") format("woff"),
		url("../font/skatemap/skatemap.ttf") format("truetype"),
		url("../font/skatemap/skatemap.svg#skatemap") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'material';
  font-style: normal;
  font-weight: 400;
  src: url("../font/material/material.eot"); /* For IE6-8 */
  src: local('material'),
       local('material'),
       url("../font/material/material.woff2") format('woff2'),
       url("../font/material/material.woff") format('woff'),
       url("../font/material/material.ttf") format('truetype');
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "skatemap" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\61";
}
.icon-connectdevelop:before {
  content: "\62";
}

.material-icons {
  font-family: 'material';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body
{
	margin: 0;
	padding: 0;
	font-family: coming;
	overflow: hidden;
			position: relative;
		height: 100%;
}

.app-wrapper
{
	margin: 0;
	padding: 0;
}

.left-column
{
	float:left;
	width:70%;
	transition: 1s all;
}

.right-column
{
	float:left;
	width:30%;
	padding: 0;
	margin:0;
	padding-right:2%;
	padding-left:2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85a374+0,85a374+100&0+0,0.13+100 */
	background: -moz-linear-gradient(top,  rgba(133,163,116,0) 0%, rgba(133,163,116,0.13) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(133,163,116,0) 0%,rgba(133,163,116,0.13) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(133,163,116,0) 0%,rgba(133,163,116,0.13) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085a374', endColorstr='#2185a374',GradientType=0 ); /* IE6-9 */
	height:100vh;
	border-left: 	1px solid #EEF2EA;
}

.preload
{
	width: 100%;
	height: 100%;
	padding-top: 25%;
	padding-left: 50%;
	background: white;
	position: absolute;
	z-index: 7000;
	overflow:hidden;
}

.right-column h2
{
	margin-left: 3.5rem;
}


.right-column h5
{
	margin-top:7%;
	margin-bottom:7%;
	font-size: 1.7em;
	transition: 0.5s all;
}

.right-column h5:hover
{
	opacity: 0.4;
	cursor: pointer;
}

.added-by
{
	font-size:12px;
}
.right-column i
{
}

.grn-colour
{
	color: #26a69a;
}

.map
{
	height: 100vh;
}

.item
{
	float:left;
}

.item-name
{
	width:100%;
	float:left;
	opacity:1;
	transition:1s all;
	margin-left:3.5rem;
	margin-bottom:1%;
}

.item-name:hover
{
	cursor: pointer;
}

.mouse-clickable:hover
{
	cursor: pointer;
}

.name 
{
	font-size: 1.3em;
	width:30%;
	float:left;
}

.rating 
{
	width:8%;
	float:left;
	font-size:2.1em;
}

.upvote
{
	opacity:0.4;
	font-size:0.63em;
}

.item-name:hover
{

}

.add-new-item
{
	bottom: 0;
}



.customInfoWindowPosition
{
	display:none;
}

.card
{
	font-family: coming;
}


/* CUSTOM CARD STYLE

	.layered-info
	{
		margin:0;
		padding: 0;
	}

	.layered-info h4
	{
		margin:0;
		padding: 0;
	}

	figure
	{
		margin:0;
		padding: 0;
	}

	.main-info-fixed
	{
		background: rgba(0,0,0,0.2);
		border-radius: 2px 2px 0 0;
		color: white;
		position: relative;
		bottom: 0;
		padding-left: 2%;


		width:100%;
		z-index:66;
		margin-top:-158px;
		height:62px;

	}


	.description
	{
		padding-top: 5%;
		padding-bottom: 5%;
		font-size:1.2em;
	}

	.card-wrapper footer
	{
		border-top: 1px solid grey;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.swiper-container
	{

	}

	.swiper-slide
	{

		width:50%;

    

	}

	.swiper-slide img
	{


	}

	main
	{

		position: relative;		
		z-index: 50;
		background: white;
		min-height:200px;
	
	}

	.swiper-pagination-bullets
	{
		bottom: 165px !important;
		position: absolute;
	}

 */
/*

OVERHAULED

*/

    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    


#newSkateparkWindow input[type="text"]
{
	font-family: coming !important;
}

.votes
{
	font-weight: 500;
}
.mini-upvote
{
	float:left;
}

.comments
{
}

.row
{
	margin-bottom: 0;
}

.add-skate-location
{
	background: white;
	padding: 4%;
	border-radius: 8px;
	width: 300px;
}


.input-field label
{
	height:15px;
	left:0;
}

.upvote
{
	font-size:2em;
	transition: all 1s;
	opacity:1;
}

.upvote:hover
{
	opacity: 0.2;

}

.upvote
{
	float:right;
}

.name
{
	padding-left:3%;
	padding-top:2%;
	font-size:1.3em;
}

.info-triangle
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 200px solid #dcedc8;
	border-left: 200px solid transparent;
}

.responsive-switch
{
	position: absolute;
	bottom: 0;
	margin-bottom:1%;
}

.bottom-right
{
	right:0;
	bottom:0;
	position:absolute;
	z-index:4;
	display:inline;
	width:150px;
	padding-bottom:10px;
}

.users-connected
{
	padding-left:100px;
}

.icon-users
{
	font-size:1.7em;
	color: #85A374;
}

.number-connected-users
{
	font-size:2.4em;
	padding-left:6px;
	color: #85A374;
}

.bottom-right label
{
	color: #85A374;
}


.search-for-items
{
}

.skate-icon
{
	transform: rotate(0deg);
	transition: all 0.8s;
	float:right;
}

.skate-icon:hover
{
	transform: rotate(360deg);
	cursor: pointer;
}

.align
{
	width: 2.9rem;
	font-size:2rem !important;
}

.show
{
	opacity: 1;
}

.fade
{
	opacity: 0.2;
}

.big-left
{
	width: 100% !important;
}

.little-right
{
	width: 0% !important;
}

.mini-switch
{
	width:auto !important;
	position: fixed;
	bottom: 0 !important;
	right:0 !important;
	transform: rotate(-45deg);
	margin-bottom:3%;
	padding:1% !important;
	padding-left:2% !important;
	padding-right:6% !important;
	background: #CCD9BD;

}

.hide-on-click
{
	transition: 0.7s all;
	opacity: 1;
}

.hidden
{
	opacity: 0.0;
}

.small
{
	font-size: 0.8em;
	opacity: 0.9;
}

.list-of-higest-rated-items
{

}

.collection .collection-item.avatar
{
	min-height: 65px !important;
	margin-left:53px;
	border: 	1px solid #EEF2EA;
	margin-bottom:1%;
	margin-top:1%;
		background: -moz-linear-gradient(top, rgba(133,163,116,0) 0%, rgba(133,163,116,0.13) 100%)
	background: -webkit-linear-gradient(top, rgba(133,163,116,0) 0%,rgba(133,163,116,0.13) 100%)
	background:linear-gradient(to bottom, rgba(189, 219, 172, 0.14) 0%,rgba(226, 242, 208, 0.26) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085a374', endColorstr='#2185a374',GradientType=0 ); /* IE6-9 */

}

.collection .collection-item.avatar .title 
{
	padding-top: 15px;
	display:block;
	font-size: 17px;
}

.badge
{
	display: relative !important;
	content: "";
}

.absolute-label
{
	display:inline;
	font-size: 1.2em;
	line-height:21px;
	position: absolute;
	z-index:5;
	margin-left:-43px;
	margin-top:21px;
	color: #85A374;
	text-align:center;
	text-align: center;

}

.collection .collection-item.avatar i.circle
{
	margin-top:10px;
	background: #dcedc8;	
}


.inlineTitle
{
	font-size: 1.7em;
}

@media ( max-width: 1250px )
{
	.left-column
	{
		float:left;
		width:60%;
	}

	.right-column
	{
		float:left;
		width:40%;
	}

	.right-column h2
	{
		font-size:2.5em;
	}

	.right-column h5
	{
		font-size:2.1em;
	}

}

@media ( max-width: 740px )
{
	.left-column
	{
		float:left;
		width:50%;
	}

	.right-column
	{
		float:left;
		width:50%;
	}

}

