@charset "UTF-8";

@font-face {
	font-family: 'coming';
	font-style: normal;
	src: url('../font/coming/coming.eot');
	src: url('../font/coming/coming.eot?#iefix') format('embedded-opentype'),
		local('coming'),
		local('coming'),
		url('../font/coming/coming.woff2') format('woff2'),
		url('../font/coming/coming.woff') format('woff'),
		url('../font/coming/coming.ttf') format('truetype'),
		url('../font/coming/coming.svg#coming') format('svg');
}

@font-face {
	font-family: "skatemap";
	src:url("../font/skatemap/skatemap.eot");
	src:url("../font/skatemap/skatemap.eot?#iefix") format("embedded-opentype"),
		url("../font/skatemap/skatemap.woff") format("woff"),
		url("../font/skatemap/skatemap.ttf") format("truetype"),
		url("../font/skatemap/skatemap.svg#skatemap") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'material';
  font-style: normal;
  font-weight: 400;
  src: url("../font/material/material.eot"); /* For IE6-8 */
  src: local('material'),
       local('material'),
       url("../font/material/material.woff2") format('woff2'),
       url("../font/material/material.woff") format('woff'),
       url("../font/material/material.ttf") format('truetype');
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "skatemap" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\61";
}
.icon-connectdevelop:before {
  content: "\62";
}

.material-icons {
  font-family: 'material';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body
{
	margin: 0;
	padding: 0;
	font-family: coming;
	overflow: hidden;
}

.app-wrapper
{
	margin: 0;
	padding: 0;
}

.left-column
{
	float:left;
	width:70%;
	transition: 1s all;
}

.right-column
{
	float:left;
	width:30%;
}

.map
{
	margin-right: 2%;
	height: 100vh;
}

.item
{
	float:left;
}

.item-name
{
	width:100%;
	float:left;
	opacity:1;
	transition:1s all;
}

.name 
{
	font-size: 1.3em;
	width:30%;
	float:left;
}

.rating 
{
	width:8%;
	float:left;
	font-size:2.1em;
}

.upvote
{
	opacity:0.4;
	font-size:0.63em;
}

.item-name:hover
{

}

.add-new-item
{
	bottom: 0;
}


.gm-style-iw {
  	overflow: hidden;
}

.gm-style-iw div {
	overflow: hidden;
}

.ng-map-info-window
{
	margin-top: 30px;
}


.customInfoWindowPosition
{
	display:none;
}





.add-skate-location
{
	width: 300px;
}


.input-field label
{
	height:10px;
}

.upvote
{
	font-size:2em;
	transition: all 1s;
	opacity:1;
}

.upvote:hover
{
	opacity: 0.2;

}

.upvote
{
	float:right;
}

.name
{
	padding-left:3%;
	padding-top:2%;
	font-size:1.3em;
}


.connection-info-triangle
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #C6DFB9;
	border-left: 100px solid transparent;
}

.bottom-right
{
	right:0;
	bottom:0;
	position:absolute;
	z-index:4;
	display:inline;
	width:80px;
}

.bottom-right div
{
	float:left;
	display:inline;
	position:relative;
	margin:1%;
}

.icon-users
{
	font-size:1.7em;
	color: #85A374;
}

.number-connected-users
{
	font-size:1.4em;
	width:15px;
	padding-left:25px;
	color: #85A374;
}


.search-for-items
{
	position:absolute;
	bottom:0;
}

.skate-icon
{
	transform: rotate(0deg);
	transition: all 0.8s;
}

.skate-icon:hover
{
	transform: rotate(45deg);
	cursor: pointer;
}

.show
{
	opacity: 1;
}

.fade
{
	opacity: 0.2;
}

.big-left
{
	width: 90% !important;
}

.little-right
{
	width: 10% !important;
}

.hide-on-click
{
	transition: 0.7s all;
	opacity: 1;
}

.hidden
{
	opacity: 0.0;
}

@media ( max-width: 1000px )
{
	.left-column
	{
		float:left;
		width:60%;
	}

	.right-column
	{
		float:left;
		width:40%;
	}

}

@media ( max-width: 740px )
{
	.left-column
	{
		float:left;
		width:50%;
	}

	.right-column
	{
		float:left;
		width:50%;
	}

}

