@font-face {
	font-family: 'coming';
	font-style: normal;
	src: url('./fonts/coming.eot');
	src: url('./fonts/coming.eot?#iefix') format('embedded-opentype'),
		local('coming'),
		local('coming'),
		url('./fonts/coming.woff2') format('woff2'),
		url('./fonts/coming.woff') format('woff'),
		url('./fonts/coming.ttf') format('truetype'),
		url('./fonts/coming.svg#coming') format('svg');
}

html, body
{
	margin: 0;
	padding: 0;
	font-family: coming;
	overflow: hidden;
}

.app-wrapper
{
	margin: 0;
	padding: 0;
}

.left-column
{
	float:left;
	width:60%;
}

.right-column
{
	float:left;
	width:40%;
}

.map
{
	padding:2%;
	margin-right: 2%;
	height: 100vh;
}

.item
{
	float:left;
}

.item-name
{
	width:100%;
	float:left;
	opacity:1;
	transition:1s all;
}

.name 
{
	font-size: 1.3em;
	width:30%;
	float:left;
	cursor:pointer;
}

.rating 
{
	width:8%;
	float:left;
	font-size:2.1em;
}

.upvote
{
	opacity:0.4;
	font-size:0.63em;
}

.item-name:hover
{
	opacity:0.2;
	cursor:pointer;
}

.add-new-item
{
	bottom: 0;
}

input[type="text"]
{
	float:left;
	width:auto;
	padding: 1%;
	margin:1%;
	width:90%;
}
input[type="submit"]
{
	float:left;
	padding: 1%;
	margin:1%;
	width:93%;
}


